body{
    text-align: center;
    background-color: #393E46;
}
h1{

    font-family: 'Indie Flower', cursive;
    font-size: 8rem;
    color: #4ECCA3;
}
p{
    font-family: 'Indie Flower', cursive;
    color: #4ECCA3;
    font-size: 2rem;
    
}
.dice{
    display:inline-block;
    text-align: center;
}